<!-- In your new-announcement-form.component.html file -->

<div>
  <mat-card>
    <form [formGroup]="announcementForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill">
        <mat-label>Headline</mat-label>
        <input
          matInput
          formControlName="headline"
          placeholder="Headline"
          required />
        <mat-error
          *ngIf="announcementForm.get('headline')?.hasError('required')">
          Headline is required
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Synopsis</mat-label>
        <input
          matInput
          formControlName="synopsis"
          placeholder="Synopsis"
          required />
        <mat-error
          *ngIf="announcementForm.get('headline')?.hasError('required')">
          Synopsis is required
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Main Story</mat-label>
        <textarea matInput formControlName="mainStory" required></textarea>
        <mat-error
          *ngIf="announcementForm.get('headline')?.hasError('required')">
          Main story is required
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Organization</mat-label>
        <input
          matInput
          formControlName="organization"
          placeholder="Organization"
          required />
        <mat-error
          *ngIf="announcementForm.get('headline')?.hasError('required')">
          Organization is required
        </mat-error>
      </mat-form-field>

      <!-- Button container for layout -->
      <div class="button-container">
        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="announcementForm.invalid">
          Add Announcement
        </button>
        <button mat-raised-button color="warn" (click)="cancel()">
          Cancel
        </button>
      </div>
    </form>
  </mat-card>
</div>
